{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
<div class="container py-3">
  <h1>Добавление товара</h1>
  <div class="container d-flex justify-content-center">
  <form method="POST">


    <div class="form-floating py-3 m-1">
      <input type="text" class="form-control w-auto"  name="title" placeholder="Например: Ручка">
    </div>
    <div class="form-floating py-3 m-1">
      <input type="number" class="form-control w-auto"  name="price" placeholder="Например: 10">
    </div>
    <div class="form-floating py-3 m-1">
      <input type="text" class="form-control w-auto"  name="text" placeholder="Например: Очень красивая">
    </div>
    <button class="w-auto btn btn-lg btn-primary py-2 m-3" type="submit" value="Registration">Добавить товар</button>
  </form>
</div>
  </div>
{% endblock %}