{% extends 'base.html' %}

{% block title %}
<title>Профиль</title>
{% endblock %}

{% block body %}

<div class="card text-white">
  {% for i in users %}
  {% if i['login'] in user %}
  <img src="{{ url_for('static', filename='img/back.jpg' ) }}" class="card-img" alt="Здесь должна быть фоновая картинка...">
  <div class="card-img-overlay">
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 ">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='img/' + i.photo ) }}" width="137" height="211" alt="Здесь должно быть ваше красивое личико...">
    </div>

      <div class="card-body">
        <h2 class="card-title py-3">{{ i.nick }}</h2>
    <p class="card-text">Почта: {{ i.login }}</p>
    <p class="card-text">Описание: {{ i.text_about }}</p
      </div>

  </div>
</div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}