{% extends 'base.html' %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block body %}
<main class="form-signin">
  <form method="POST">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

    <div class="form-floating m-2 py-2">
      <input type="email" class="form-control w-auto" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Введите почту</label>
    </div>
    <div class="form-floating m-2 py-2">
      <input type="password" class="form-control w-auto" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Введите пароль</label>
    </div>
    <div class="form-floating m-2 py-2">
      <input type="password" class="form-control w-auto" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Повторите пароль</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
      </label>
    </div>
    <button class="w-auto btn btn-lg btn-primary py-2" type="submit" value="Registration"><a href="/">Зарегестрироваться</a></button>
  </form>
</main>

{% endblock %}